@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gruppo&family=Major+Mono+Display&family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  /* list-style: none; */
  font-size: 1rem;
  border: none;
}

ol li {
  margin-bottom: 10px;
}

:root {
  --width: 90px;
  --height: 20px;

  --avatarSmall: 35px;

  --margin: 2px 10px;
  --padding: 4px 0px;
  --time: 300ms;

  /* --rootW: 600px; */
  --mainWidth: clamp(100px, 90vw, 600px);
  --imgWidth: clamp(140px, 40vw, 160px);

  --anthracite: #292929;
  --blue: #336699;
  --shade01: 0px 5px 20px rgba(22, 22, 22, 0.4);
  --shade02: 0px 3px 10px rgba(22, 22, 22, 0.2);
  --shade03: 0px 2px 3px rgba(22, 22, 22, 0.2);
  --gradient01: linear-gradient(#336699, #132140);

  --orbitron: "Orbitron", sans-serif;
  --audiowide: "Audiowide", cursive;
  --majormono: "Major Mono Display", monospace;
  --gruppo: "Gruppo", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--anthracite);
  background-color: ghostwhite;
  border: 2px solid #336699;
  transition-duration: 0.2s;
}
button:hover {
  background-color: #336699;
  color: ghostwhite;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-height: 100vh;
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  color: #383e42;
  font-family: Helvetica, sans-serif;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: var(--majormono);
  font-size: clamp(1rem, 8vw, 3rem);
  letter-spacing: 4px;
  text-align: center;
  background: var(--gradient01);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--shade03);
}

main {
  min-width: 350px;
  width: 80%;
  max-width: 400px;
  height: 100%;
  margin: 0 0 0px 0;

  /* width: var(--mainWidth);
  margin-top: 20px; */
  /* z-index: 0; */
  /* animation-name: close; */
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  border: 1px dotted gainsboro;
}

/* //////////////////////////*/
/*      UP / DOWN           */
@keyframes slideUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-5%);
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

h2 {
  margin: 5px 0;
}

section {
  margin: 5px 0;
}
form input[type="text"],
form input[type="password"] {
  margin: 5px;
  padding: 0;
  font-size: 1rem;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: auto;
  padding: 10px 0;
  background-color: #292929;
  border-top: 1px solid white;
}
footer p {
  align-items: center;
  font-size: 0.8rem;
  font-weight: lighter;
  color: ghostwhite;
  width: fit-content;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}

.loader {
  border: 4px solid gainsboro;
  border-top: 4px solid #336699;
  border-bottom: 4px solid #336699;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
