main {
  /* width: var(--mainWidth);
  margin-top: 20px; */
  /* z-index: 0; */
  /* animation-name: close; */
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* //////////////////////////*/
/*      UP / DOWN           */
@keyframes slideUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-10%);
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
